.welcome-paragraph{
    font:400
}



.star{
    opacity: .5;
    cursor: pointer;
    display: inline-block;
    float: right;
}

.star:hover{
    opacity: 1;
}

.form-wrapper {
    height: 300px;
    width: 500px;
}

#main-container {
    margin-left: 50px;
}

.nav-wrapper {
    padding-left: 50px;
}