.welcome-paragraph{
    font:400
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating){
    margin-right: 0px;
}

.stars{
    display: flex;
}

.stars a{
    opacity: 50%;
    cursor: pointer;
    float: right;
    padding: 2px;
}

.stars:hover a{
    opacity: 100%;
}

.stars a:hover{
    opacity: 100%;
}

.stars a:hover ~ a{
    opacity: 50%;
}

.stars a .active{
    opacity: 100%;
}

.stars.disabled{
    pointer-events: none;
}

.form-wrapper {
    height: 300px;
    width: 500px;
}

#main-container {
    margin-left: 50px;
}

.nav-wrapper {
    padding-left: 50px;
}

#main-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 40%
    max-height: auto;
}

img {
    max-height: 190px;
}